In [11]:
import numpy as np
import pandas as pd

In [13]:
hc = pd.read_csv('select/합천버스.csv')
hc.info()
hc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  350 non-null    object
 1   x        350 non-null    float64
 2   y        350 non-null    float64
 3   city     350 non-null    object
 4   eup      350 non-null    object
dtypes: float64(2), object(3)
memory usage: 13.8+ KB

    station         x         y city  eup
0        율원  128.2921  35.63847  합천군  덕곡면
1        상대  128.3166  35.63041  합천군  덕곡면
2        대동  128.3219  35.62823  합천군  덕곡면
3        장동  128.3276  35.62560  합천군  덕곡면
4        병배  128.3397  35.62335  합천군  덕곡면
..      ...       ...       ...  ...  ...
345      용지  128.1119  35.54209  합천군  용주면
346    손목1구  128.1283  35.55290  합천군  용주면
347      손목  128.1300  35.55205  합천군  용주면
348    성산1구  128.1394  35.55013  합천군  용주면
349    성산2구  128.1489  35.55217  합천군  용주면

[350 rows x 5 columns]

In [14]:
hc = hc.dropna(axis=0, how='any')
hc = hc.reset_index()
hc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    350 non-null    int64
 1   station  350 non-null    object
 2   x        350 non-null    float64
 3   y        350 non-null    float64
 4   city     350 non-null    object
 5   eup      350 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 16.5+ KB

In [15]:
hc_bus = hc['index'].groupby(hc['eup']).count().sort_values(ascending=False)
hc_bus

eup
용주면    35
대병면    29
삼가면    28
쌍백면    27
청덕면    27
율곡면    25
합천읍    24
가회면    23
봉산면    20
묘산면    20
가야면    20
대양면    18
초계면    14
쌍책면    12
야로면    11
덕곡면    11
적중면     6
Name: index, dtype: int64

In [16]:
hc_bus.to_csv('합천_교통접근성.csv', encoding='utf-8-sig')

In [17]:
hs = pd.read_csv('select/거주지_합천.csv')
hs.info()
hs

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eup     17 non-null     object
 1   단독주택    17 non-null     int64
 2   아파트     17 non-null     int64
 3   연립주택    17 non-null     int64
 4   다세대주택   17 non-null     int64
 5   total   17 non-null     int64
dtypes: int64(5), object(1)
memory usage: 944.0+ bytes

    eup  단독주택   아파트  연립주택  다세대주택  total
0   합천읍  2147  1534   447    332   4460
1   봉산면   942     0     0      8    950
2   묘산면   975     0     0      0    975
3   가야면  1747    65   118     11   1941
4   야로면  1217    20     8      0   1245
5   율곡면  1339     0    32      0   1371
6   초계면  1218    55    32     24   1329
7   쌍책면   807     0     0      0    807
8   덕곡면   532     0     0      0    532
9   청덕면   986     0     0      0    986
10  적중면   908     0    20      0    928
11  대양면   917     0    64    101   1082
12  쌍백면  1205     0     0      0   1205
13  삼가면  1663    49    79     16   1807
14  가회면  1023     0     0      0   1023
15  대병면  1160     0     0      0   1160
16  용주면  1260     0     0      0   1260

In [18]:
hs = hs.reset_index()
hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   17 non-null     int64
 1   eup     17 non-null     object
 2   단독주택    17 non-null     int64
 3   아파트     17 non-null     int64
 4   연립주택    17 non-null     int64
 5   다세대주택   17 non-null     int64
 6   total   17 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.1+ KB

In [19]:
hs = hs['index'].groupby(hs['eup']).count().sort_values(ascending=False)
hs

eup
가야면    1
쌍책면    1
초계면    1
청덕면    1
적중면    1
율곡면    1
용주면    1
야로면    1
쌍백면    1
가회면    1
삼가면    1
봉산면    1
묘산면    1
덕곡면    1
대양면    1
대병면    1
합천읍    1
Name: index, dtype: int64

## 폐교 위치 추출